.hexagon-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.service-container {
  text-align: center;
}
.service-short-desc {
  /* text-align: center; */
  padding: 0 14px;
  text-align: justify;
  text-justify: inter-word;
}
.hexagon-area .hexagon {
  position: relative;
  width:250px;
  height:250px;
  margin: 0 auto !important;
  /* clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  cursor: pointer;
  transition: transform 0.4s;
}
.hexagon:hover {
  transform: scale(0.85);
}
.hexagon-area .hexagon img {
  object-fit: fill;
  /* width: 80px; */
}

@media only screen and (max-width: 1024px) {
  .hexagon-area {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .hexagon-area {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 480px) {
  .hexagon-area {
    grid-template-columns: 1fr;
    padding: 0 24px;
  }
}
